---
import { SEO } from "astro-seo";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
const { title, description, image, isBlogPost } = Astro.props;
const defaultTitle = "| Mathieu Thiry | React & TypeScript Developer Portfolio";
const defaultDescription = "Welcome to my portfolio! I’m a front-end developer with expertise in React, TypeScript, and modern web development. Explore my projects and feel free to reach out.";
const defaultOgTitle = "👋 Hi, I'm Mathieu Thiry | React & TypeScript Developer Portfolio 🚀"
const siteUrl = "https://www.mathieuthiry.fr"
const currentUrl = new URL(Astro.url.pathname, siteUrl).toString();
const cover = image ? `${siteUrl}/${image}` : `${siteUrl}/assets/images/opengraph/cover-open-graph.png`;
const defaultImageDescription = isBlogPost ? `${title} cover` : "Mathieu Thiry, React & TypeScript Developer Portfolio cover";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
     <!-- Google tag (gtag.js) -->
     <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-EQ6170C8KH"></script>
     <script is:inline>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'G-EQ6170C8KH');
     </script>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Add autodiscovery for rss -->
    <link rel="alternate" type="application/rss+xml" title="Mathieu Thiry Blog RSS Feed" href="/rss.xml" />
    <SEO
      title={`${title} ${defaultTitle}`}
      description={description ?? defaultDescription}
      openGraph={{
        basic: {
          title: `${title} ${defaultOgTitle}`,
          type: "website",
          image: cover,
          url: `${currentUrl}`, 
        },
        image: {
          alt: defaultImageDescription,
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "@mathieuthiry",
        creator: "@mathieuthiry",
        title: `${title} ${defaultOgTitle}`,
        image: cover,
        imageAlt: defaultImageDescription,
      }}
    />

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      if (typeof Storage !== 'undefined') {
        if (
          localStorage.getItem('dark_mode') &&
          localStorage.getItem('dark_mode') == 'true'
        ) {
          document.documentElement.classList.add('dark')
        }
      }
    </script>

    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.png" />
    <script src="../assets/css/main.css"></script>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
